
    html {
        scroll-behavior: smooth;
    }
    
    footer{
        text-align: center;
        height:40px;
        background-color: slategray;
        margin-bottom: 0%;
        border-style:solid;
    }
    
    .nav {
        text-align: center;
        height:50px;
        background-color: lightgray;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
       }
    
       main {
        text-align: center;
        background-color: whitesmoke
    }
    
    #bio {
        height: 180px;
        border-style: solid;
        margin-left: auto;
        margin-right: auto;
      }
    
      #portfolio {
          height:320px;
        border-style: solid;
      }
    
      section {
        min-height: 100px;
        padding: 4% 0;
        background-color: #bbb;
      }
    
      header {
        padding:43px;
      }

@media only screen and (min-width:700px) {
    
    html {
        scroll-behavior: smooth;
    }
    
    footer{
        text-align: center;
        height:30px;
        background-color: slategray;
        margin-bottom: 0%;
        border-style:solid;
    }
    
    .nav {
        text-align: center;
        height:50px;
        background-color: lightgray;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
       }
    
       main {
        text-align: center;
        background-color: whitesmoke
    }
    
    #bio {
        height: 220px;
        border-style: solid;
        margin-left: auto;
        margin-right: auto;
      }
    
      #portfolio {
          height:375px;
        border-style: solid;
      }
    
      section {
        min-height: 175px;
        padding: 4% 0;
        background-color: #bbb;
      }
    
      header {
        padding:40px;
      }
}

 @media only screen and (min-width:1024px) {

    html {
    scroll-behavior: smooth;
}

footer{
    text-align: center;
    height:40px;
    background-color: slategray;
    margin-bottom: 0%;
    border-style:solid;
}

.nav {
    text-align: center;
    height:50px;
    background-color: lightgray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
   }

   main {
    text-align: center;
    background-color: whitesmoke
}

#bio {
    height: 300px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
  }

  #portfolio {
      height:560px;
    border-style: solid;
  }

  section {
    min-height: 200px;
    padding: 4% 0;
    background-color: #bbb;
  }

  header {
    padding:50px;
  }

}
